body {
    font-family: Arial, sans-serif;
    margin: 350;
}

.container {
    text-align: center;
    margin: 50px auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

img {
    max-width: 100px; /* Set the maximum width */
    max-height: 50px; /* Set the maximum height */
    width: auto;
    height: auto;
}
