body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin: 50px auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

img {
    max-width: 20px; /* Set the maximum width */
    max-height: 10px; /* Set the maximum height */
    width: auto;
    height: auto;
}
