body {
    font-family: Arial, sans-serif;
    margin-left: 250px; /* Adjust the left margin as needed */
    margin-right: 250px; /* Adjust the right margin as needed */
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    text-align: center;
    /* margin: 50px auto */
    margin-left: 300px; /* Adjust the left margin as needed */
    margin-right: 300px; /* Adjust the right margin as needed */
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

img {
    max-width: 200px; /* Set the maximum width */
    max-height: 100px; /* Set the maximum height */
    width: auto;
    height: auto;
}
